extends layout.pug

block content
    - const numLinksExtracted = data.links.length
    form(name="submitInfo", action="/process/createFeed", method="post")
        input(type="hidden", name="baseUrl", value= data.baseUrl)
        if numLinksExtracted > 0
            h1 Here's what we found
            p Extracted from #{data.baseUrl}
            br
            each link in data.links
                input(type="checkbox", name="links", value=link, checked=(true, id=link)).checkbox
                label(for=link)=" " + link
                br
            br
            hr
            h2 Paste in any missed links (comma separated)
        else
            h1 Sorry, looks like we didn't find anything at #{data.baseUrl}
            h2 But feel free to manually add links you want delivered below.
        textarea(name="manualLinks")
        h2 Delivery Schedule
        div.input
            p Frequency: Every <i>n</i> days
            each val in [1,2,3,4,5,6,7]
                if val == 3
                    input(type="radio", name="frequency", value=val, id=val, checked=true)
                else
                    input(type="radio", name="frequency", value=val, id=val)
                label(for=val)=" " + val
                br
            p Delivery email address:
            input(type="text", name="recipientEmail", id="emailInput")
            //- p Select your delivery schedule:
            //- each day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
            //-     input(type="radio", name="dayOfWeek", value=day, id=day)
            //-     label(for=day)=" " + day
            //-     br
            //- br
        br
        div.action
            input(type="submit", value="Submit", id="submitButton")

    script(type='text/javascript').
        document.getElementById('submitButton').disabled = true;

        function isValidEmail(emailAddress) {
            const regex = new RegExp(/\S+@\S+\.\S+/);
            return (regex.test(emailAddress));
        };

        document.getElementById('emailInput').addEventListener('input', function() {
            document.getElementById('submitButton').disabled = !isValidEmail(this.value);
        });