extends layout.pug

block content
    - const numLinksExtracted = data.links.length
    form(name="submitInfo", action="/process/createFeed", method="post")
        input(type="hidden", name="baseUrl", value= data.baseUrl)
        if numLinksExtracted > 0
            h2 Here's what we found on <i>#{data.baseUrl}</i>
            each link in data.links
                input(type="checkbox", name="links", value=link, checked=(true, id=link.url)).checkbox
                a(href=link.url)
                    label(for=link.url)=" " + link.url
                br
            h3 Paste in any missed links (comma separated)
        else
            h1 Sorry, looks like we didn't find anything at #{data.baseUrl}
            h2 But feel free to manually add links you want delivered below (comma separated)
        textarea(name="manualLinks", class="textBox")
        .deliveryContainer
            .contentStyle
                h2 Delivery
                div.input
                    h3 Scheduled Frequency (every <i>n</i> days)
                    each val in [1,2,3,4,5,6,7]
                        if val == 3
                            input(type="radio", name="frequency", value=val, id=val, checked=true)
                        else
                            input(type="radio", name="frequency", value=val, id=val)
                        label(for=val)=" " + val
                        br
                    h3 Delivery email address
                    input(type="text", name="recipientEmail", id="emailInput", class="textBox")
                    //- p Select your delivery schedule:
                    //- each day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
                    //-     input(type="radio", name="dayOfWeek", value=day, id=day)
                    //-     label(for=day)=" " + day
                    //-     br
                    //- br
                br
                div.action
                    input(type="submit", value="Submit", id="submitButton", class="button buttonLight")

    
    
    script(src='https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js')
    script(type='text/javascript').
        // Firebase Analytics
        var firebaseConfig = {
            apiKey: "AIzaSyAvBpDMHIeSfkH_IeDY068zuQPf77KybXM",
            authDomain: "blogbacklog.firebaseapp.com",
            databaseURL: "https://blogbacklog.firebaseio.com",
            projectId: "blogbacklog",
            storageBucket: "blogbacklog.appspot.com",
            messagingSenderId: "943834384815",
            appId: "1:943834384815:web:40ba0c14f0009f6e40c75a",
            measurementId: "G-Z308M43D2X"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        const analytics = firebase.analytics();

        // Control submit button
        document.getElementById('submitButton').disabled = true;

        function isValidEmail(emailAddress) {
            const regex = new RegExp(/\S+@\S+\.\S+/);
            return (regex.test(emailAddress));
        };

        document.getElementById('emailInput').addEventListener('input', function() {
            document.getElementById('submitButton').disabled = !isValidEmail(this.value);
        });

        document.getElementById('submitButton').onclick = () => {
            analytics.logEvent("feed_save");
        }